@import "tailwindcss";

/* Your custom styles below */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

/* For Coolvetica, since it's not available on Google Fonts, you'll need to host it yourself */
@font-face {
  font-family: 'Coolvetica';
  src: url('/path/to/coolvetica.woff2') format('woff2'),
       url('/path/to/coolvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-coolvetica {
  font-family: 'Coolvetica', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: 'Coolvetica';
  src: url('/path/to/coolvetica.woff2') format('woff2');
  /* Add other font formats as needed */
}